ul.navLinks {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}
.error {
  color: rgb(151, 21, 21) !important;
  background-color: rgb(219, 80, 80);
  border: 1px solid rgb(226, 3, 3);
}
.success {
  color: rgb(83 95 247)  !important;
  background-color: rgb(111 205 231);
  border: 1px solid rgb(2 86 143);
}
.message {
  padding: 0.5em 1em;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}